@import "../variables";


.section-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue-color;

    video {
        position: fixed;
        top: auto;
        left: 0;
        min-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }

    .container-hero {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .phrase1,
        .phrase2,
        .phrase3 {
            font-size: $title-hero;

            .letter {
                font-size: $title-hero;
                color: $primary-color;
                font-weight: 500;
                line-height: 1.4;
                letter-spacing: 2px;
            }

            #colorSpan {
                color: $secondary-color;
                letter-spacing: 5px;
                font-weight: 600;
            }
        }

        .phrase1 {
            h1 {
                font-weight: 400;
            }
        }

        .phrase4 {
            p {
                text-align: center;
                color: $primary-color; //$primary-color;
                font-size: 18px;

            }
        }

        .container-social-icons {
            display: flex;
            gap: 40px;

            a {
                img {
                    width: 40px;
                    height: 40px;
                    transition: 300ms linear;
                }

                &:hover {
                    img {
                        transform: scale(.9);
                    }
                }
            }
        }

    }
}

// media queries

@media (max-width: $breakpoint-title-hero) {
    .section-hero {
        .container-hero {

            .phrase1,
            .phrase2,
            .phrase3 {
                .letter {
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 2px;
                }

                #colorSpan {
                    letter-spacing: 2px;
                    font-weight: 600;
                    line-height: 1.5;
                }
            }

            .phrase4{
                p{
                    font-size: 14px;
                }
            }

            .container-social-icons {
    
                a {
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

    @media (max-width: $breakpoint-mobile) {
        .section-hero {
            .container-hero {

                .phrase1,
                .phrase2,
                .phrase3 {
                    .letter {
                        font-size:  24px;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 2px;
                    }

                    #colorSpan {
                        letter-spacing: 2px;
                        font-weight: 600;
                        line-height: 1.5;
                        font-size: 24px;
                    }
                }

                .phrase4{
                    p{
                        font-size: 14px;
                    }
                }

                .container-social-icons {
        
                    a {
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: $breakpoint-mobile-small) {
        .section-hero {
            .container-hero {

                .phrase1,
                .phrase2,
                .phrase3 {
                    .letter {
                        font-size:  18px;
                        color: $primary-color;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 2px;
                    }

                    #colorSpan {
                        color: $secondary-color;
                        letter-spacing: 2px;
                        font-weight: 600;
                        line-height: 1.5;
                        font-size: 18px;
                    }
                }

                .phrase4{
                    p{
                        font-size: 14px;
                    }
                }

                .container-social-icons {
                    gap: 18px;
        
                    a {
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
