@import "../../styles/variables.scss";

.card {
    position: relative;
    width: 200px;
    min-width: 200px;
    height: 200px;
    background-color: $bg-card-color;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #03030365;

    &-image {
        width: auto;
        height: 96px;
        transition: all 0.8 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 16px $secondary-color;
        border: none 3px;
    }
}

.expanded-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-card-color;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    height: auto;
    min-height: 60%;
    transform-origin: center;


    .expanded-card-btn {
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 30px;
        font-weight: 700;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
            scale: 0.98;
        }
    }

    .expanded-card-image {
        position: absolute;
        top: 20px;
        width: 100px;
        height: 100px;
    }

    .expanded-card-title {
        position: absolute;
        top: 150px;
        font-size: $font-size-text;
        font-weight: 700;
        color: $secondary-color;
    }

    .expanded-card-description {
        width: 100%;
        padding: 20px;
        font-size: $font-size-secondary-text;
        color: $primary-color;
        line-height: 1.4;
    }
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 9;
}