
//CORES PRINCIPAIS DE TEXTO
$primary-color: #111111;
$secondary-color: #086cca;

//CORES DE BACKGROUND
$bg-primary-color: #d1cfcf;
$bg-secondary-color: #c0bfbf;
$bg-header-color: #dedede;
$bg-card-color: #dee0e2;

// FONT-SIZES CLAMP

$title-header: clamp(1.25rem, 1.117rem + 0.4255vw, 1.5rem);
$links-header: clamp(1rem, 0.9342rem + 0.3509vw, 1.25rem);

$title-hero: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);

$font-size-text: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
$font-size-secondary-text: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);

//BREAKPOINTS- MOBILE

$breakpoint-mobile: 950px;


