
//Colors
$primary-color: #f6f6f7;
$secondary-color: #086cca;
$dark-blue-color: #000325c7;
$dark-blue-color-without-opacity: #000325;
$obsidian-color: #1a2228;


//Background colors
$bg-primary-color: #d1cfcf;
$bg-secondary-color: #c0bfbf;
$bg-header-color: #dedede;
$bg-card-color: #dee0e2;

// FONT-SIZES CLAMP

$title-header: clamp(1.25rem, 1.117rem + 0.4255vw, 1.5rem);
$links-header: clamp(1rem, 0.9342rem + 0.3509vw, 1.25rem);

$title-hero: clamp(1.75rem, 1.2266rem + 1.9704vw, 3rem);

$font-size-text: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
$font-size-about: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
$font-size-secondary-text: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);

//BREAKPOINTS- MOBILE

$breakpoint-menu-mobile: 850px;

$breakpoint-title-hero: 610px;

$breakpoint-img-about: 550px;

$breakpoint-mobile: 425px;

$breakpoint-mobile-small: 346px;



