@use "variables" as *;



.section-projects {
    height: auto;
    min-height: 100vh;
    width: 100%;
    // background-color: $bg-primary-color;
    background-color: $dark-blue-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    h1{
        color: $secondary-color;
        font-size: $title-hero;
    }

    .container-projects{
        width: 100%;
        max-width: 1200px;
        height: auto;
        padding: 48px 0px ;
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        gap: 24px;

      }
      .linkGit{
        margin-top: 24px;
          color: $secondary-color;
          font-size: $font-size-text;
          font-weight: 700;
          padding: 16px 24px;
          border: 1px solid $secondary-color;
          background-color: #0000003b;
          border-radius: 16px;
          transition: all 0.3s ease-in-out;

          &:hover{
              background-color: #ffffff91;
              scale: 0.95;
          }
    }
}
