@import "../../styles/variables.scss";

.section-skills {
    height: auto;
    min-height: 50vh;
    width: 100%;
    background-color: $dark-blue-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;

    h1{
        padding: 24px 0px;
        font-size: $title-hero;
        color: $secondary-color;
    }



    .skills-container{
        max-width: 1200px;
        width: auto;
        height: auto;
        padding: 24px 0px ;
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}
