@import "../variables";


.section-contact {
    width: 100%;
    max-height: 92vh;
    height: 92vh;
    background-color: $dark-blue-color-without-opacity;
    display: flex;
    align-items: center;
    padding-top: 8vh;
    justify-content: space-around;
    flex-direction: column;

    h2 {
        width: 90%;
        padding-top: 48px;
        text-align: center;
        font-size: $title-hero;
        color: $secondary-color;
        margin: 0 auto;
    }

    h3 {
        width: 90%;
        padding-top: 24px;
        max-width: 1200px;
        font-size: $title-hero;
        color: $secondary-color;
        text-align: center;
        margin: 0 auto;
    }

    p {
        padding-top: 24px;
        width: 90%;
        max-width: 1200px;
        font-size: $font-size-secondary-text;
        color: $primary-color;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
    }


    .container-contact {
        width: 80%;
        max-width: 1200px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .container-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;

            h4 {
                font-size: $font-size-text;
                color: $secondary-color;
                text-align: center;
            }

            .btns {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .btn {
                width: 180px;
                height: 35px;
                background-color: $primary-color;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                color: $obsidian-color;
                border-radius: 8px;
                box-shadow: 0px 0px 10px $secondary-color;
                transition: all 0.3s linear;
                font-weight: 700;
                padding: 0px 16px;

                &:hover {
                    scale: 0.98;
                    box-shadow: 0px 6px 10px $secondary-color;

                    img {
                        scale: 0.9;
                    }
                }
            }

            .btn-email {
                img {
                    width: 30px;
                }
            }

            .btn-wpp {

                img {
                    width: 22px;
                }
            }

            .btn-linkedin {
                img {
                    width: 22px;
                }
            }
        }

        .container-img {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 40%;

            img {
                width: clamp(11.25rem, 6.6152rem + 13.4831vw, 18.75rem);
                height: auto;

            }
        }

    }
}

@media (max-width: $breakpoint-img-about) {
    .container-contact {
        flex-direction: column-reverse;

        h4 {
            width: 90vw;
        }

        .container-img {
            width: 300px;
            max-width: 300px;
            margin: 0 auto;
            border: 1px solid $secondary-color;

            img {
                width: 100%;
                height: auto;

            }
        }
    }
}