@import "../variables";

.section-about {
    width: 100%;
    height: 100vh;
    background-color: $dark-blue-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    h1{
        color: $secondary-color;
        font-size: $title-hero;
    }

    .container-about{
        margin-top: 48px;
        opacity: 0;
        height: auto;
        min-height: 60%;
        max-width: 1200px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;
        background-color: $obsidian-color;
        border-radius: 20px;

        img{
            width: auto;
            height: 60vh;           
            border-bottom-left-radius: 20px;
        }

        .aboutme-info{
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;


            p{
                line-height: 1.5;
                letter-spacing: 1px;

                &:nth-child(1){
                    // color: $primary-color;
                    color: $primary-color;
                    font-weight: 500;
                    font-size: $font-size-text;
                }

                &:nth-child(2){
                    letter-spacing: 0px;
                    margin-top: 20px;
                    color: $secondary-color;
                    text-align: center;
                    font-weight: 600;
                    font-size: $font-size-secondary-text;
                }
            }
        }
    }
}