
//CORES PRINCIPAIS DE TEXTO
$primary-color: #111111;
$secondary-color: #086cca;

//CORES DE BACKGROUND
$bg-primary-color: #d1cfcf;
$bg-secondary-color: #c0bfbf;
$bg-header-color: #dedede;

// FONT-SIZES CLAMP

$title-header: clamp(1.25rem, 1.117rem + 0.4255vw, 1.5rem);
$links-header: clamp(1rem, 0.9342rem + 0.3509vw, 1.25rem)


